.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

.info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 600px;

  background: #ffffff;
  color: #000;

  padding: 25px;
  border: 4px solid #000;
  box-shadow: 8px 8px #000;
  box-sizing: border-box;

  overflow-y: auto;
  max-height: 80vh;

  font-family: var(--pixel-font);
}

.close-btn {
  background: white;
  border: 3px solid #000;
  font-size: 14px;
  cursor: pointer;
  padding: 4px 8px;

  position: absolute;
  top: 10px;
  right: 10px;

  box-shadow: 3px 3px #000;
}

.close-btn:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

.info-modal h1,
.info-modal h3 {
  margin-top: 10px;
}

.info-modal ul,
.info-modal ol {
  padding-left: 20px;
}
