.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 60;
}

.settings-modal {
  background: #ffffff;
  border: 4px solid #161616;
  padding: 20px;
  width: 90%;
  max-width: 420px;
  border-radius: 4px;

  font-family: "Press Start 2P", monospace;
  color: #161616;

  image-rendering: pixelated;
  box-shadow: 6px 6px 0px #161616;
}

.settings-modal h3 {
  margin-bottom: 20px;
  font-size: 1rem;
}

.settings-modal label {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 6px;
}

.settings-modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;

  border: 3px solid #161616;
  border-radius: 4px;
  background: #f1f1f1;
  font-family: "Press Start 2P", monospace;
  font-size: 0.9rem;

  box-shadow: 3px 3px 0px #161616;
}

.settings-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cancel-button,
.save-button {
  width: 48%;
  padding: 12px;
  font-family: inherit;
  cursor: pointer;

  border: 3px solid #161616;
  border-radius: 4px;

  box-shadow: 3px 3px 0px #161616;
  transition: transform 0.1s;
}

.cancel-button {
  background: #ffb3b3;
}

.save-button {
  background: #b5ffa1;
}

.cancel-button:hover,
.save-button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 5px 5px 0px #161616;
}

.cancel-button:active,
.save-button:active {
  transform: translate(0px, 0px);
  box-shadow: 2px 2px 0px #161616;
}
