.header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 4px solid #000;
  box-shadow: 6px 6px #000;
  font-family: var(--pixel-font);
}

.header-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #000;
}

.settings-button,
.info-button {
  font-size: 20px;
  background: white;
  border: 3px solid #000;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 3px 3px #000;

  transition: transform 0.1s;
}

.settings-button:active,
.info-button:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

.header--buttons {
  margin-left: 1em;
}
