.app-footer {
  margin-top: 25px;
  padding: 20px;
  text-align: center;

  background: #ffffff;
  border: 4px solid #000;
  box-shadow: 6px 6px #000;

  font-size: 12px;
  color: #000;
  font-family: var(--pixel-font);
}

.app-footer p {
  margin: 0;
}
