html {
  image-rendering: pixelated;
}

.app-container {
  min-height: 100vh;
  display: flex;
  font-family: var(--pixel-font);
  color: white;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 0.9rem;
  color: #fff;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timer-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-frame {
  padding: 25px;
  background: #ffffff;
  border: 4px solid #000;
  box-shadow: 6px 6px #000;
  border-radius: 4px;
  text-align: center;
  width: fit-content;
}

.timer-display {
  font-size: 5rem;
  font-family: "VT323", monospace;
  color: #000;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.mode-button {
  padding: 0.7rem 1.2rem;
  font-size: 1.1rem;
  font-family: "VT323", monospace;
  cursor: pointer;

  background: #fff;
  border: 3px solid #000;
  box-shadow:
    0 0 0 3px #555,
    0 0 0 6px #000;
  border-radius: 4px;

  transition: transform 0.1s ease;
}

.mode-button:hover {
  transform: translateY(-2px);
}

.mode-button.active {
  background: #ff4d4d;
  color: #fff;
}
